/* Tu CSS va aqui */
							/*** GENERAL ***/
*{
	margin: 0;
    padding: 0;
    /*Las fuentes que estan saque de google font*/
    font-family: 'Baloo Paaji', 'Josefin Sans';
}
							/*** HEADER ***/
.logo{
    margin-top: -6%; 
    width: 250px;
    height: 50px;
}
							/*** VIDEO ***/
iframe{
	width: 100%;
	height: 350px;
}
							/*** Animaciones ***/
.bg-orange{
	background-color: #F56142;
}
.bg-black{
	background-color: #413B3B;
}
.bg-foto{
	background-size: cover;
	padding: 3%;
}
.bg-foto .bg-orange{
	opacity: 0;
}
.bg-orange:hover{
	opacity: 0.7;
}
#foto1{
	background: url("../img/xs.png");
}
#foto2{
	background: url("../img/sm.png");
}
#foto3{
	background: url("../img/md.jpg");
}
#foto4{
	background: url("../img/lg.png");
}

							/*** UTILIDADES ***/
/*hr*/
hr{
	width: 15%;
	border: 0.2em solid #FF3300;
}
/*Textos*/
.text-white{
	color: white;
}
.font-baloo{
	font-family: 'Baloo Paaji';
}
/*Margin*/
.mg-5{
	margin: 5%;
}
.mgt-2{
	margin-top: 2%;
}
.mgt-5{
	margin-top: 5%;
}
.mgt-15{
	margin-top: 15%;
}
.mgt-25{
	margin-top: 25%;
}
.mg-3{
	margin: 3%;
}
.mg-0{
	margin: 0;
}
.mgl-{
	margin-left: 45%; 
}
.mgl-40{
	margin-left: 40%;
}
.mgt-2{
	margin-top: 2%;
}
/*Padding*/
.pd-0{
	padding: 0;
}
.pd-5{
	padding: 5%;
}
.pdt-5{
	padding-top: 5%;
}
