/* Tu CSS va aqui */
							/*** GENERAL ***/
*{
	margin: 0;
    padding: 0;
    /*Las fuentes que estan saque de google font*/
    font-family: 'Baloo Paaji', 'Josefin Sans';
}
body{
	background: url("../img/giphy.gif");
	color: white;
}
							/*** HEADER ***/
.logo{
    margin-top: -6%; 
    width: 250px;
    height: 50px;
}
							/*** VIDEO ***/
iframe{
	width: 100%;
	height: 350px;
}
							/*** Animaciones ***/
/*Rotar elemento*/
.rot:hover{
-webkit-transform: rotateZ(360deg);
-webkit-transition: .8s;
}
/*Agrandar Elemento*/
.scal:hover{
-webkit-transform: scale(1.1);
-webkit-transition: .8s;
transform: scale(1.1);
}
/*Cambiar de color al elemento*/
.color:hover
{
background: #53a7ea;
}
/*Sombrear 3D al elemento*/
.threed:hover
{
box-shadow:
1px 1px #6AD91B,
2px 2px #6AD91B,
3px 3px #6AD91B;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}

							/*** UTILIDADES ***/
/*Fondos*/
.bg-black{
	background-color: #413B3B;
}

.foto{
	height: 50%;
	width: 50%;
}
/*Textos*/
.text-white{
	color: white;
}
.font-baloo{
	font-family: 'Baloo Paaji';
}
/*Margin*/
.mg-5{
	margin: 5%;
}
.mgt-2{
	margin-top: 2%;
}
.mgt-5{
	margin-top: 5%;
}
.mgt-15{
	margin-top: 15%;
}
.mgt-35{
	margin-top: 35%;
}
.mg-3{
	margin: 3%;
}
.mgb-3{
	margin-bottom: 3%;
}
.mgb-5{
	margin-bottom: 5%;
}
.mg-0{
	margin: 0;
}
.mgl-40{
	margin-left: 40%; 
}
.mgl-35{
	margin-left: 35%;
}
.mgl-25{
	margin-left: 25%;
}
.mgt-2{
	margin-top: 2%;
}
.mgt-10{
	margin-top: 12%;
}
.mg{
	margin-left: 2%;
	margin-right:2%;
}
/*Padding*/
.pd-5{
	padding: 5%;
}
.pd-3{
	padding: 3%;
}
